.picker-modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12), 0 11px 15px -7px rgba(0, 0, 0, .2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12), 0 11px 15px -7px rgba(0, 0, 0, .2);
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--black);
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    z-index: 10000 !important
}

.picker-modal:focus {
    outline: none
}

@media only screen and (max-width: 769px) {
    .picker-modal {
        width: 80%
    }
}

.picker-modal .picker-modal-content {
    padding: 24px
}

.picker-modal .picker-modal-close {
    cursor: pointer
}

.picker-modal .picker-modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right
}

.picker-modal .picker-modal-footer .btn, .picker-modal .picker-modal-footer .btn-flat {
    margin: 6px 0
}

.picker-modal-overlay {
    position: fixed;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    z-index: 9999 !important;
    will-change: opacity
}

.picker-modal.picker-modal-fixed-footer {
    padding: 0;
    height: 70%
}

.picker-modal.picker-modal-fixed-footer .picker-modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto
}

.picker-modal.picker-modal-fixed-footer .picker-modal-footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    bottom: 0
}

.picker-modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity
}

.datepicker-modal {
    max-width: 325px;
    min-width: 300px;
    max-height: none
}

.datepicker-container.picker-modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 !important
}

.datepicker-select {
    border: none;
    background: none;
    color: #fff;
    outline: none;
    background: var(--black);
}

.orig-select-year {
    display: none
}

.orig-select-month {
    visibility: visible;
    position: relative;
}

.datepicker-controls {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto
}

.datepicker-controls, .datepicker-controls .selects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.datepicker-controls .select-wrapper input {
    border-bottom: none;
    text-align: center;
    margin: 0
}

.datepicker-controls .select-wrapper input:focus {
    border-bottom: none
}

.datepicker-controls .select-wrapper .caret {
    display: none
}

.datepicker-controls .select-year input {
    width: 50px
}

.datepicker-controls .select-month input {
    width: 80px
}

.month-next, .month-prev {
    margin-top: 4px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.datepicker-date-display {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: var(--green);
    color: #fff;
    padding: 20px 22px;
    font-weight: 500
}

.datepicker-date-display .year-text {
    display: block;
    font-size: 20px;
    line-height: 1.3;
    color: rgba(255, 255, 255, .7)
}

.datepicker-date-display .date-text {
    display: block;
    font-size: 45px;
    line-height: 1.3;
    font-weight: 500
}

.datepicker-calendar-container {
    -webkit-box-flex: 2.5;
    -ms-flex: 2.5 auto;
    flex: 2.5 auto
}

.datepicker-calendar-container .select-dropdown {
    display: none
}

.datepicker-table {
    width: 280px;
    font-size: 1rem;
    margin: 0 auto
}

.datepicker-table thead {
    border-bottom: none
}

.datepicker-table th {
    padding: 10px 5px;
    text-align: center
}

.datepicker-table tr {
    border: none;
    background: none;
}

.datepicker-table abbr {
    text-decoration: none;
    color: rgba(255, 255, 255, .6);
}

.datepicker-table td {
    background-color: transparent;
    padding: 0;
    color: #fff;
}

.datepicker-table td.is-selected button,
.datepicker-table td.is-today.is-selected button {
    background-color: var(--green);
    color: #fff
}

.datepicker-table td.is-today button {
    color: var(--green);
}

.datepicker-table td.is-disabled, .datepicker-table td.is-outside-current-month {
    color: rgba(255, 255, 255, .6);
    pointer-events: none
}

.datepicker-day-button {
    background-color: transparent;
    border: none;
    line-height: 38px;
    display: block;
    width: 100%;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    color: inherit
}

.datepicker-day-button:focus {
    background-color: rgba(var(--green), .75)
}

.datepicker-footer {
    width: 280px;
    margin: 0 auto;
    padding: 0 10px 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.datepicker-cancel, .datepicker-clear, .datepicker-done, .datepicker-today {
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    padding: 2px 7px;
    cursor: pointer;
    background: none;
    color: #fff;
    border: none;
}

.datepicker-cancel:hover, .datepicker-clear:hover, .datepicker-done:hover, .datepicker-today:hover {
    color: var(--green)
}

.datepicker-clear, .datepicker-clear:hover {
    color: var(--red)
}

@media only screen and (min-width: 770px) {
    .datepicker-modal {
        max-width: 625px
    }

    .datepicker-container.picker-modal-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .datepicker-date-display {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 270px;
        flex: 0 1 270px
    }

    .datepicker-controls, .datepicker-footer, .datepicker-table {
        width: 320px
    }

    .datepicker-day-button {
        line-height: 46px
    }
}

.timepicker-modal {
    max-width: 325px;
    max-height: none
}

.timepicker-container.picker-modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0
}

.text-primary {
    color: #fff
}

.timepicker-digital-display {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: var(--green);
    padding: 10px;
    font-weight: 300
}

.timepicker-text-container {
    font-size: 4rem;
    text-align: center;
    color: hsla(0, 0%, 100%, .6);
    font-weight: 400;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.timepicker-span-am-pm div, .timepicker-span-hours, .timepicker-span-minutes {
    cursor: pointer
}

.timepicker-span-hours {
    margin-right: 3px
}

.timepicker-span-minutes {
    margin-left: 3px
}

.timepicker-display-am-pm {
    font-size: 1.3rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-weight: 400
}

.timepicker-analog-display {
    -webkit-box-flex: 2.5;
    -ms-flex: 2.5 auto;
    flex: 2.5 auto
}

.timepicker-plate {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    overflow: visible;
    position: relative;
    margin: 25px auto 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.timepicker-canvas, .timepicker-dial {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.timepicker-minutes {
    visibility: hidden
}

.timepicker-tick {
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    font-size: 15px
}

.timepicker-tick.active, .timepicker-tick:hover {
    background-color: rgba(var(--green), .75)
}

.timepicker-dial {
    transition: transform .35s, opacity .35s, -webkit-transform .35s
}

.timepicker-dial-out {
    opacity: 0
}

.timepicker-dial-out.timepicker-hours {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.timepicker-dial-out.timepicker-minutes {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

.timepicker-canvas {
    -webkit-transition: opacity 175ms;
    -o-transition: opacity 175ms;
    transition: opacity 175ms
}

.timepicker-canvas line {
    stroke: var(--green);
    stroke-width: 4;
    stroke-linecap: round
}

.timepicker-canvas-out {
    opacity: .25
}

.timepicker-canvas-bearing, .timepicker-canvas-bg {
    stroke: none;
    fill: var(--green)
}

.timepicker-footer {
    margin: 0 auto;
    padding: 0 10px 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.timepicker-clear {
    color: var(--red)
}

.timepicker-clear, .timepicker-close {
    color: #fff;
    padding: 2px 7px;
    border: none;
    background: none
}

.timepicker-clear:hover, .timepicker-close:hover {
    color: var(--green)
}

@media only screen and (min-width: 770px) {
    .timepicker-modal {
        max-width: 600px
    }

    .timepicker-container.picker-modal-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .timepicker-text-container {
        top: 32%
    }

    .timepicker-display-am-pm {
        position: relative;
        right: auto;
        bottom: auto;
        text-align: center;
        margin-top: 1.2rem
    }
}