// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: Oswald, sans-serif
  font-weight: normal
  font-size: 16px
  color: #A99C9C
  background: #382D2D


h1, .h1
  margin: 0 0 44px
  font-weight: 300
  font-size: 42px
  line-height: 50px
  letter-spacing: 0.01em
  color: #FFFFFF


h2,.h2
  margin: 0 0 24px
  font-weight: 300
  font-size: 36px
  line-height: 40px
  color: #fff

h3,.h3
  margin: 0 0 24px
  font-weight: 500
  font-size: 22px
  line-height: 28px
  color: #fff

h4, .h4
  font-size: 20px
  color: #fff

h5, .h5
  margin: 0 0 24px
  font-weight: bold
  font-size: 18px
  line-height: 22px
  color: #A99C9C

h6, .h6
  margin: 0 0 16px
  font-size: 14px
  line-height: 16px
  font-family: OpenSans
  color: #fff

p
  font-size: 16px
  line-height: 24px
  font-family: OpenSans

a
  color: #fff
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box








.container
  margin: 0 auto
  width: auto
  max-width: 1310px


.slick-slide
  outline: none