@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: absolute
	left: 0
	right: 0
	width: 100%
	transition: all .3s
	z-index: 9999
	background: rgba(46, 36, 36, 0.4)
	backdrop-filter: blur(30px)

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 15px 0
		z-index: 9999
		transform: translate(0 0)
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)
		border-bottom: 1px solid rgba(255, 255, 255, 0.2)

		.header-wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center

		.header-top__left--item
			display: none

		.header-top__right
			display: none

		.header-nav
			padding: 0

			.btn-white__transparent
				display: inline-block
				margin-left: 32px

		.header-top
			padding: 0

		.header-cart
			margin-left: 32px




		.logo
			display: inline-block
			width: 88px
			height: 24px
			background: url(../img/logo-mobile.png)

			img
				display: none

		.main-menu
			li
				a
					font-size: 16px
					line-height: 18px
		

	&-top
		display: flex
		justify-content: space-between
		align-items: center
		padding: 18px 0 10px

		&__mobile
			display: none
			
			a
				margin-left: 24px

				&.burger-menu
					margin-left: 52px

		&__left
			display: flex
			flex-wrap: wrap
			&--item
				margin-left: 66px

				div
					font-weight: 600
					font-size: 18px
					line-height: 22px
					color: #fff

				span
					font-family: OpenSans
					font-size: 14px
					line-height: 16px
					color: #A99C9C					

		&__right

			.btn
				padding: 6px 12px
				margin-left: 12px

	&-nav
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 16px

		.btn-white__transparent
			display: none
			padding: 6px 12px

	&-cart
		position: relative
		display: flex
		flex-wrap: wrap
		align-items: center
		transition: all .5s

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			height: 20px
			bottom: -20px
			background-color: transparent
			z-index: 999

		&.active
			&:after
				content: ''
				position: absolute
				bottom: -22px
				right: 25%
				border: 11px solid transparent
				border-bottom: 14px solid #2e2424
				z-index: 990

		&__info
			padding-right: 16px
			text-align: right

		&__price
			font-size: 24px
			line-height: 24px
			color: #fff
			font-family: BebasNeue

		&__count
			color: $main
			font-size: 14px
			line-height: 16px
			font-family: OpenSans

		.btn
			padding-left: 22px
			padding-right: 22px
			font-size: 16px
			line-height: 18px

		

.logo
	margin-right: 60px


.main-menu
	display: flex
	flex-wrap: wrap
	list-style: none

	li
		margin-right: 16px

		&:last-child
			margin-right: 0

		a
			display: inline-block
			font-size: 20px
			line-height: 22px
			text-transform: uppercase

			&:hover, &.active
				opacity: 1
				color: #E6A769

		&.drop
			position: relative
			
			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				height: 20px
				bottom: -20px
				background-color: transparent
				z-index: 999

			ul
				opacity: 0
				z-index: -100
				position: absolute
				top: calc(100% + 13px)
				display: flex
				padding: 16px
				list-style: none
				background: #FFFFFF
				border-radius: 6px
				transition: all .3s

				&.active
					opacity: 1
					z-index: 10


				&:before
					content: ''
					position: absolute
					top: -16px
					left: 25px
					border: 10px solid transparent
					border-bottom: 12px solid #fff
					z-index: 990

				a
					color: #2E2424
					white-space: nowrap

					&:hover, &.active
						opacity: 1
						color: #E6A769





.content
	background: #382D2D

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding-bottom: 100px

	&-main
		width: calc(100% - 328px)
		padding: 48px
		background: rgba(255, 255, 255, 0.05)
		border-radius: 4px

		.h2
			margin-bottom: 32px
			font-size: 32px
			line-height: 36px


.sidebar
	width: 296px

	&-mobile__btn
		display: none
		outline: 0
		border: none
		background-color: transparent
		

	&-menu
		list-style: none

		li
			display: block

			a
				display: flex
				align-items: center
				flex-wrap: wrap
				justify-content: space-between
				height: 66px
				padding: 0 16px
				font-family: OpenSans
				font-size: 18px
				line-height: 24px
				border: 1px solid rgba(255, 255, 255, 0.2)
				border-radius: 4px

				&:hover
					color: #E6A769
					opacity: 1

				&.active
					background: rgba(255, 255, 255, 0.2)

				span
					width: calc(100% - 40px)

				.icon
					font-size: 24px

					&-strar
						font-size: 20px

					&-clock
						font-size: 20px
			&:nth-child(even)
				margin-bottom: 24px

			&:nth-child(odd)
				a
					border-bottom-width: 0

			&:last-child
				a
					color: #A99C9C
					border-bottom-width: 1px

					&:hover
						color: #fff


.lemon-bg
	background-image: url(../img/lemon-bg.png)
	background-repeat: no-repeat
	background-position: center top


.section

	&-header
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		margin-bottom: 48px

		.h2, ,h2, h1, .h1
			margin-bottom: 0



	&-inner
		padding-top: 170px

	&-user
		.jq-selectbox
			.jq-selectbox__select-text
				padding: 13px 72px 13px 32px
				border: 1px solid rgba(255, 255, 255, 0.2)
				border-radius: 27px
				background-color: transparent

				&:after
					content: '\e901'
					right: 24px
					top: 15px

			&.opened .jq-selectbox__select-text
				&:after
					transform: rotate(90deg)







		

.banner
	margin: 0 auto
	max-width: 1920px

	&.slick-dotted.slick-slider
		margin-bottom: 68px


.slick-dots
	bottom: -32px
	li
		height: auto
		text-align: center

		button
			display: inline-block
			width: 8px
			height: 8px
			border-radius: 50%
			background: rgba(255, 255, 255, 0.2)

			&:before
				display: none

		&.slick-active
			button
				width: 24px
				height: 8px
				background: #E6A769
				border-radius: 20px


.btn
	display: inline-block
	padding: 16px 26px
	font-size: 18px
	line-height: 20px
	color: #fff
	font-family: OpenSans
	text-align: center
	background: $main
	border-radius: 80px
	border: none
	outline: none

	&:hover, &:focus
		opacity: 1
		outline: none
		color: #fff
		background: #FA4B3C

	&:active
		outline: none

		&:focus
			outline: none



	&-white
		
		&__transparent
			padding: 15px 22px
			border: 1px solid rgba(255, 255, 255, 0.2)
			border-radius: 67px
			font-size: 16px
			line-height: 18px
			background: transparent
			color: #fff

			&:hover, &:focus
				color: #382d2d
				background: #fff
				box-shadow: none

			&:active
				background: #E5E5EB


.mobile-menu
	display: none
	

.tags-list
	margin-bottom: 36px
	list-style: none
	text-align: center

	li
		display: inline-block
		margin: 0 28px
		text-align: center

		.icon
			font-size: 22px
			color: rgba(255, 255, 255, 0.2)
		span
			display: block
			padding: 6px 0
			font-family: OpenSans
			font-size: 14px
			line-height: 16px
			color: #fff

		button
			background-color: transparent
			padding: 0
			outline: none
			border: 0

			&:hover, &:focus, &:active
				outline: none

.product
	margin-bottom: 32px
	background-position: center -75px

	&-wrap
		display: flex
		flex-wrap: wrap

		[class^='col']
			margin-bottom: 32px

	&-header
		margin-bottom: 32px
		font-weight: 300
		font-size: 36px
		line-height: 40px
		color: #fff

		span
			padding-left: 5px
			color: rgba(255, 255, 255, 0.2)

	&-item
		display: flex
		flex-direction: column
		height: 100%

		&__img
			display: flex
			align-items: center
			justify-content: center
			height: 296px
			margin-bottom: 16px

			img
				max-height: 100%

		&__info
			height: calc(100% - 296px)
			display: flex
			flex-direction: column
			justify-content: space-between

		&__text
			text-align: center

		&__name
			margin-bottom: 10px
			font-size: 24px
			line-height: 26px

		&__weight
			margin-bottom: 24px
			font-size: 14px
			line-height: 16px
			color: #A99C9C

		&__price
			margin-bottom: 24px
			text-align: center
			font-size: 28px
			line-height: 32px
			color: #fff

		&__bottom
			display: flex
			flex-direction: column
			justify-content: center
			text-align: center

			&--btn
				height: 48px
				

				.count
					display: none
					margin: 0 auto

		&__notavailable
			padding: 12px
			background: #E6A769
			border-radius: 4px
			font-family: OpenSans
			font-size: 14px
			line-height: 16px
			color: #2E2424

	&-radio
		text-align: center

.switch
	display: inline-flex
	align-items: center
	margin-bottom: 24px
	background: #382D2D
	border: 1px solid rgba(255, 255, 255, 0.2)
	border-radius: 117px


	&-item
		margin-right: 6px

		&:last-child
			margin-right: 0

		input[type="radio"]
			display: none

			&+label
				display: block
				padding: 8px 12px
				font-family: OpenSans
				font-size: 16px
				line-height: 18px
				color: #fff
				border-radius: 72px
				cursor: pointer

			&:checked
				&+label
					color: #fff
					background: rgba(255, 255, 255, 0.2)











.count
	display: flex
	align-items: center
	justify-content: space-between
	width: 140px

	&.active
		display: flex

	&-btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 48px
		height: 48px
		border-radius: 50%
		background-color: transparent
		border: 1px solid rgba(255, 255, 255, 0.2)
		outline: none

		.icon
			font-size: 24px

			&:before
				color: #fff
				transition: all .3s

			&-minus
				position: relative
				font-size: 16px
				

		&:hover
			opacity: 1
			background: $main
			border-color: $main
			
	&-value
		width: 32px
		font-size: 16px
		line-height: 18px
		font-family: OpenSans
		color: #fff
		text-align: center
		border: 0
		outline: none
		background-color: transparent




	&-persons
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 56px

		&__info
			display: flex
			align-items: center
			flex-wrap: wrap
			max-width: 250px
			width: 100%

			.h5
				padding-left: 12px
				margin: 0
				color: #fff

		.count
			width: 100px
			
			&-btn
				width: 36px
				height: 36px

				.icon
					font-size: 20px

					&-minus
						font-size: 12px

			&-input
				width: 20px
















.seo
	padding-bottom: 20px
	.row
		margin-bottom: 56px

	p
		font-family: OpenSans
		font-size: 16px
		line-height: 24px
		color: #A99C9C


.color

	&-red
		color: $main

	&-gold
		color: #E6A769

	&-grey
		color: #9E948A

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 24px
				height: 24px
				margin-right: 16px
				cursor: pointer
				border-radius: 50%
				

			&:checked
				&+label
					box-shadow: 0px 0px 0px 5px #585050



.footer

	&-top
		display: flex
		justify-content: space-between
		padding-bottom: 24px

	&-logo
		display: inline-block
		margin-bottom: 32px

	&-info
		max-width: 380px

		&__tel
			margin-bottom: 32px

			a
				display: inline-block
				margin-bottom: 2px
				font-weight: bold
				font-size: 18px
				line-height: 22px
				color: #fff

			span
				display: block
				font-family: OpenSans
				font-size: 14px
				line-height: 16px
				color: #A99C9C

		&__app

			&--btn
				display: flex
				flex-wrap: wrap
				
				a
					margin-right: 16px

					&:last-child
						margin-right: 0



	&-links
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 786px
		width: 100%

		&__item

			ul
				list-style: none

				li
					margin-bottom: 12px
					font-size: 18px
					line-height: 26px
					font-family: Rubik

					&:last-child
						margin-bottom: 0

					a
						color: #fff

	&-bottom
		padding: 24px 0
		border-top: 1px solid rgba(255, 255, 255, 0.2)

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
			font-family: NotoSans
			font-size: 14px
			line-height: 19px


	&-copyright
		color: #A99C9C

		a
			color: #A99C9C

	&-privacy
		display: inline-block
		color: $main
		border-bottom: 1px solid

		&:hover
			opacity: 1
			color: #fff


.pay-systems
	list-style: none

	li
		display: inline-block
		margin-right: 12px
		vertical-align: middle

		&:last-child
			margin-right: 0



.form

	&-label
		position: absolute
		left: 16px
		top: 19px
		font-family: OpenSans
		font-size: 18px
		line-height: 24px
		color: #A99C9C
		cursor: text
		transform-origin: top left
		transform: translate(0, 0) scale(1) 
		transition: all .1s ease-in-out
		background-color: transparent
		z-index: -1

	&-item
		position: relative
		margin-bottom: 32px

		&.active
				
			.form-field
				border-color: #E6A769
				

			.form-label
				top: -2px
				font-size: 12px
				line-height: 14px
				transform: translate(0, 8px)
				color: #E6A769
				z-index: 5

			textarea
				padding-top: 18px
		
		.switch
			display: flex

			&-item
				width: 50%
				text-align: center

		&__code
			text-align: center

			input
				display: inline-block
				max-width: 100px
				margin-bottom: 36px
				border: 0
				font-weight: 300
				font-size: 42px
				line-height: 50px
				letter-spacing: 0.01em
				color: #FFFFFF
				background-color: transparent
				border: 0
				outline: none





		
	&-field
		position: relative
		background-color: transparent
		width: 100%
		height: 58px
		line-height: 58px
		padding: 5px 16px 0
		background: #5A4747
		border-radius: 4px 4px 0px 0px
		border: none
		border-bottom: 2px solid #C4C4C4
		outline: none
		color: #fff
		font-family: OpenSans
		font-size: 18px
		line-height: 24px

		&:hover
			opacity: 1

		&:focus
			&::-webkit-input-placeholder
				opacity: 0

	textarea
		height: 140px





	&-profile
		max-width: 320px

		.btn
			width: 100%

	&-address
		&__color
			padding-bottom: 32px
			margin-bottom: 32px
			border-bottom: 1px solid #585050
			.form
				&-item
					max-width: 624px

		&__fields
			max-width: 624px

		&__btn
			display: flex
			flex-wrap: wrap

			.btn
				margin-right: 24px

				&:last-child
					margin: 0


	*::-webkit-input-placeholder 
		font-family: OpenSans
		font-size: 18px
		line-height: 24px
		color: #A99C9C	

	*:-moz-placeholder 
		font-family: OpenSans
		font-size: 18px
		line-height: 24px
		color: #A99C9C


	*::-moz-placeholder 
		font-family: OpenSans
		font-size: 18px
		line-height: 24px
		color: #A99C9C


	*:-ms-input-placeholder 
		font-family: OpenSans
		font-size: 18px
		line-height: 24px
		color: #A99C9C

	
	&-code

		.btn-white__transparent
			margin-bottom: 12px
			font-size: 18px
			line-height: 20px

		&__timer
			font-family: OpenSans
			font-size: 18px
			line-height: 20px
			color: #fff


select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 17px 14px 15px 16px
		margin-bottom: 24px
		background: #5A4747
		border-radius: 4px 4px 0px 0px
		border: none
		border-bottom: 2px solid #C4C4C4
		outline: none
		color: #a99c9c
		font-family: OpenSans
		font-size: 18px
		line-height: 24px


		&::after
			content: '\e900'
			position: absolute
			right: 18px
			top: 21px
			font-family: icomoon
			font-size: 15px
			color: #A99C9C
			


	&.opened
		.jq-selectbox__select-text
			color: #fff
			&::after
				transform: rotate(180deg)


	&.changed
		.jq-selectbox__select-text
			color: #fff

	.jq-selectbox__dropdown
		position: absolute
		top: 58px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #382d2d
			border-radius: 0 0 4px 4px


			li
				padding: 10px 16px
				font-size: 16px
				line-height: 18px
				color: #a99c9c
				font-family: OpenSans
				border-bottom: 1px solid #585050
				transition: all .3s
				cursor: pointer

				&:hover
					color: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 8px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999







.address

	&-table
		margin-bottom: 36px

		&__item
			display: flex
			flex-wrap: wrap
			padding: 36px 0
			border-bottom: 1px solid #585050

			&--text
				display: flex
				flex-direction: column
				font-family: OpenSans

				span
					color: #A99C9C
					font-size: 12px
					line-height: 16px

				strong
					font-weight: normal
					font-size: 18px
					line-height: 24px
					color: #fff

			&:first-child
				border-top: 1px solid #585050

			

			&--info
				position: relative
				width: calc(100% - 62px)
				padding-left: 44px
				display: flex
				align-items: center
				flex-wrap: wrap

				.icon
					position: absolute
					left: 0
					top: 0
					font-size: 40px

				

			&--btn
				display: flex
				align-items: center
				flex-wrap: wrap

				button
					padding: 0
					outline: 0
					border: 0
					background-color: transparent
					margin-left: 15px

					&:first-child
						margin: 0

					.icon
						font-size: 18px

						&-delete
							color: #E6A769

		&+.btn
			padding-left: 32px
			padding-right: 32px


.bonus

	&-header
		position: relative
		padding: 18px 54px 16px 16px
		margin-bottom: 36px
		background: #5A4747
		border-radius: 4px 4px 0px 0px
		color: #A99C9C
		font-family: OpenSans
		font-size: 18px
		line-height: 24px
		border-bottom: 2px solid #C4C4C4

		&:before
			content: '\e900'
			position: absolute
			right: 18px
			top: 21px
			font-size: 16px
			color: #A99C9C
			font-family: icomoon


	&-table
		margin-bottom: 36px
		width: 100%
		border-collapse: collapse


		thead
			
			tr
				td
					padding: 0 10px 22px
					font-size: 18px
					line-height: 22px
					color: #fff
					font-weight: 600

				&:last-child
					padding-right: 0

				&:first-child
					padding-left: 0
	
		tbody
			
			tr
				td
					padding: 22px 10px
					font-family: OpenSans
					font-size: 18px
					line-height: 26px
					border-top: 1px solid rgba(255, 255, 255, 0.2)

					&:first-child
						padding-left: 0

					&:last-child
						padding-right: 0

				&:last-child
					td
						border-bottom: 1px solid rgba(255, 255, 255, 0.2)

	&-btn
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		.btn
			padding-left: 32px
			padding-right: 32px

			&-white

				&__transparent
					padding-top: 16px
					padding-bottom: 16px



.faq
	margin-bottom: 150px

	&-item
		max-width: 740px
		margin-bottom: 24px
		border: 1px solid transparent

		&__header
			position: relative
			padding: 18px 56px 18px 16px
			font-family: OpenSans
			font-size: 18px
			line-height: 26px
			background: #5A4747
			box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.12)
			border-radius: 4px
			color: #fff
			border: 1px solid transparent
			cursor: pointer
			transition: all .3s

			&:before
				content: '\e901'
				position: absolute
				right: 23px
				top: 20px
				color: #E6A769
				font-size: 16px
				font-family: icomoon

		&__body
			display: none
			position: relative
			padding: 18px 16px
			font-size: 16px
			line-height: 24px
			color: #FFFFFF

			&:before
				content: ''
				position: absolute
				left: 16px
				right: 16px
				height: 1px
				top: 0
				background: rgba(255, 255, 255, 0.2)

			p
				margin-bottom: 20px

				&:last-child
					margin-bottom: 0

		&.active
			border-color: #E6A769
			.faq
				&-item

					&__header
						color: #E6A769
						border-color: transparent
						background-color: transparent

						&:before
							content: '\e900'



.basket

	&-page

		.header

			&-top
				padding: 24px 0

		.footer-bottom
			border: 0

	&-step
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		width: 700px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			width: 80%
			margin: 0 auto
			height: 1px
			top: 16px
			border-top: 1px dashed #5A4747

		&__item
			position: relative
			display: flex
			flex-wrap: wrap
			align-items: center
			padding-right: 12px
			padding-left: 12px
			font-family: OpenSans
			font-size: 16px
			color: #fff
			background: #382d2d

			&:last-child
				padding-right: 0


			span
				display: flex
				align-items: center
				justify-content: center
				margin-right: 8px
				width: 32px
				height: 32px
				border-radius: 50%
				color: #E6A769
				border: 1px solid #E6A769

			&.active
				span
					background-color: #E6A769
					color: #fff
					
	&-wrap
		max-width: 630px
		margin: 0 auto


	&-table
		display: table
		width: 100%
		border-collapse:separate
		border-spacing: 0 48px

		&__row
			display: table-row

			&:last-child
				.basket-table__col
					&:before
						display: none

		&__col
			position: relative
			display: table-cell
			vertical-align: middle

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -24px
				width: 100%
				height: 1px
				background: rgba(255, 255, 255, 0.2)
			

			&:first-child
				width: 46%

			&:not(:first-child)
				padding-left: 22px


			.count
				width: 100px

				&-btn
					width: 36px
					height: 36px

					.icon
						font-size: 20px

						&-minus
							font-size: 12px

				&-value
					width: 20px

			&--price
				min-width: 80px
				text-align: right
				font-size: 22px
				line-height: 24px
				color: #fff


		&__info
			display: flex
			align-items: center

			&--img
				display: flex
				align-items: center
				justify-content: center
				height: 72px
				width: 72px

				img
					max-height: 100%

			&--text
				display: flex
				flex-direction: column
				width: calc(100% - 72px)
				padding-left: 12px

				.h5
					margin-bottom: 8px
					color: #fff

				span
					font-size: 14px
					color: #A99C9C
					font-family: OpenSans

		&__del
			padding: 0
			color: #A99C9C
			border: 0
			outline: none
			background-color: transparent
			font-size: 20px

			&:hover
				color: #fff
				opacity: 1

	&-bottom
		margin-bottom: 70px

		&__price
			margin-bottom: 24px
			text-align: right
			font-weight: 500
			font-size: 22px
			line-height: 28px
			color: #fff

		&__btn
			display: flex
			align-items: center
			justify-content: space-between

			.btn-white__transparent
				padding: 16px 22px

	&-total
		padding: 24px 0
		border-top: 1px solid rgba(255, 255, 255, 0.2)

		&__item
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 12px
			font-family: Rubik

			span
				font-size: 14px
				line-height: 16px
				
				&:last-child
					font-size: 18px
					line-height: 20px
					color: #E6A769

	
			&:last-child
				margin-bottom: 0 











.succses
	max-width: 630px
	margin: 0 auto

	&-top
		display: flex
		flex-wrap: wrap
		margin-bottom: 36px

		&__img
			width: 42%


		&__text
			width: 58%
			padding-left: 40px

			.h1
				margin-bottom: 24px




.gift

	&-block
		position: relative
		margin-bottom: 24px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			border-bottom: 1px solid rgba(255, 255, 255, 0.2)

		.h3
			font-weight: 300
			font-size: 32px
			line-height: 36px

		&__item
			display: flex
			flex-wrap: wrap
			align-items: center
			margin-bottom: 24px
			padding: 12px
			background: #5A4747
			border: 1px solid #E6A769
			border-radius: 4px

			&--img
				width: 72px

				img
					max-height: 72px

			&--info
				width: calc(100% - 72px)
				padding-left: 12px

				.h5
					margin-bottom: 8px
					color: #fff

				span
					color: #A99C9C
					font-size: 14px


.promocode
	margin-bottom: 56px

	.h3
		margin: 0 0 24px
		font-weight: 300
		font-size: 32px
		line-height: 36px

	&-form
		display: flex
		flex-wrap: wrap
		max-width: 480px

		input
			width: calc(100% - 134px)
			height: 48px
			padding: 0 14px
			font-size: 18px
			line-height: 24px
			color: #ffffff
			background: #5A4747
			border-radius: 4px 0px 0px 4px
			outline: none
			border: 0
			font-family: OpenSans

		.btn
			width: 134px
			height: 48px
			padding: 0
			display: flex
			align-items: center
			justify-content: center
			border-radius: 0px 60px 60px 0px
			font-size: 16px
			line-height: 18px

		*::-webkit-input-placeholder 
			font-size: 18px
			line-height: 24px
			color: #A99C9C

		*:-moz-placeholder 
			font-size: 18px
			line-height: 24px
			color: #A99C9C


		*::-moz-placeholder 
			font-size: 18px
			line-height: 24px
			color: #A99C9C


		*:-ms-input-placeholder 
			font-size: 18px
			line-height: 24px
			color: #A99C9C



.order
	max-width: 630px
	margin: 0 auto
	padding-bottom: 48px

	&-info
		margin-bottom: 36px
		list-style: none
		font-family: OpenSans

		li
			margin-bottom: 16px

			span
				display: block

				&:first-child
					font-size: 14px
					line-height: 16px
					color: #A99C9C

				&:last-child
					font-size: 16px
					line-height: 24px
					color: #fff

	&-table
		width: 100%
		margin-bottom: 56px

		&__wrap
			padding-bottom: 150px

			.h3
				margin-bottom: 32px
				font-weight: 300
				font-size: 32px
				line-height: 36px

			.basket-total
				&__item
					&:first-child
						border-top: 2px solid #a7a8ab


		thead

			tr
				td
					padding: 12px 0 22px
					border-bottom: 2px solid rgba(255, 255, 255, 0.2)
					font-weight: 600
					font-size: 18px
					line-height: 22px
					color: #fff
					text-align: right

					&:first-child
						text-align: left
						

		tbody

			tr
				td
					padding: 22px 10px
					font-family: OpenSans		
					font-size: 16px
					line-height: 24px
					border-bottom: 1px solid rgba(255, 255, 255, 0.2)
					text-align: right

					&:first-child
						width: 40%
						padding-left: 0
						text-align: left

						img
							display: inline-block
							vertical-align: middle

						span
							display: inline-block
							width: calc(100% - 56px)
							vertical-align: middle
							padding-left: 10px


		&__btn
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap

			.btn-white__transparent
				padding: 16px 22px
				font-size: 18px


	&-item
		border-bottom: 1px solid rgba(255, 255, 255, 0.2)

		.h2
			margin: 0 0 32px
			font-weight: 300
			font-size: 32px
			line-height: 36px

		&+.order-item
			padding-top: 32px
			padding-bottom: 32px


	&-radio
		display: inline-flex
		margin-bottom: 32px
		padding: 6px
		background: #382D2D
		border: 1px solid rgba(255, 255, 255, 0.2)
		border-radius: 73px
		list-style: none


		&__item
			margin-right: 12px

			

			&:last-child
				margin-right: 0

			input[type="radio"]
				display: none

				&+label
					display: block
					padding: 15px 22px
					font-family: OpenSans
					font-size: 16px
					line-height: 18px
					color: #fff
					border-radius: 60px

				&:checked
					&+label
						background-color: #F03828

	&-range
		max-width: 400px

		&__top
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 24px
			font-family: OpenSans
			font-size: 18px
			line-height: 26px
			color: #fff

			&--right
				color: #A99C9C

	.basket-bottom
		padding-top: 48px
		margin-bottom: 24px













.tabs

	&-nav
		display: inline-flex
		margin-bottom: 32px
		padding: 6px
		background: #382D2D
		border: 1px solid rgba(255, 255, 255, 0.2)
		border-radius: 73px
		list-style: none


		li
			margin-right: 12px

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 15px 22px
				font-family: OpenSans
				font-size: 16px
				line-height: 18px
				color: #fff
				border-radius: 60px


				&.active
					background-color: #F03828


	&-item
		display: none

		&.active
			display: block

		&__body
			padding: 0 0 32px



.radio-list, .check-list
	list-style: none

	&__item
		display: block
		margin-bottom: 12px

		input[type="radio"], input[type='checkbox']
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 30px
				cursor: pointer
				font-size: 14px
				line-height: 16px
				font-family: OpenSans
				color: #fff

				&::before
					content: ''
					position: absolute
					left: 0
					top: -2px
					width: 20px
					height: 20px
					display: flex
					align-items: center
					justify-content: center
					border: 2px solid rgba(255, 255, 255, 0.2)
					border-radius: 2px


			&:checked
				&+label
					&::before
						content: '\e903'
						background: #E6A769
						border-color: #E6A769
						font-family: icomoon
						color: #fff
						font-size: 10px


		&.agreement
			padding-top: 8px
			input[type="radio"], input[type='checkbox']
				&+label
					&::before
						top: 1px
			a
				color: #C07F3F



.give-cash
	display: flex
	flex-wrap: wrap
	align-items: center
	max-width: 460px

	&__text
		width: 160px
		font-size: 14px
		line-height: 16px
		font-family: OpenSans

	.form-item
		margin: 0




.ui-widget-content
	height: 6px
	border: none
	background: rgba(255, 255, 255, 0.2)
	border-radius: 62px

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 20px
	height: 20px
	border-radius: 50%
	background: url(../img/range-handle.png)

.ui-slider-horizontal
	.ui-slider-range
		height: 6px
		background: #F03828
		border-radius: 62px

	.ui-slider-handle
		outline: none
		top: -7px
		margin-left: -.7em
		cursor: pointer






.cart

	&-block
		display: none
		max-height: calc(100vh - 140px)
		position: absolute
		width: 368px
		right: -120px
		top: calc(100% + 16px)
		padding: 16px 18px 24px
		background: #2E2424
		border-radius: 24px
		z-index: 100
		overflow-y: scroll

		&::-webkit-scrollbar-track
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
			background-color: #EBEBEB


		&::-webkit-scrollbar
			width: 3px
			border-radius: 2px


		&::-webkit-scrollbar-thumb
			border-radius: 10px
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
			background: #999



		.h5
			padding-bottom: 16px
			text-align: center
			color: #fff
			border-bottom: 1px solid rgba(255, 255, 255, 0.2)

		

		.btn
			width: 100%

	&-item
		margin-bottom: 16px



		&__top
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			margin-bottom: 8px

		&__bottom
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap

			.count 
				width: 104px

				&-btn
					width: 36px
					height: 36px

					.icon
						font-size: 20px

						&-minus
							font-size: 12px

				&-value
					width: 20px

		&__del
			height: 100%
			padding: 0
			background-color: transparent
			outline: none
			border: 0
			font-size: 20px
			color: #A99C9C

			&:hover
				color: #fff
				opacity: 1

		&__info
			width: 75%
			display: flex
			align-items: center

			img
				display: inline-block
				vertical-align: middle
				max-width: 72px
				max-height: 72px

			span
				width: calc(100% - 72px)
				display: inline-block
				padding-left: 8px
				font-size: 18px
				line-height: 22px
				vertical-align: middle
				color: #fff

		&__price
			font-size: 22px
			line-height: 24px
			color: #fff

.drop-menu__mobile
	display: none


.basket-page

	.header
		background: #382d2d
		backdrop-filter: none
		border-bottom: 1px solid rgba(255, 255, 255, 0.2)

		&-fixed

			.header-top
				padding: 0

.burger-menu
	&:hover, &:focus
		opacity: 1

.mm-ocd-opened

	.burger-menu
		position: relative

		.ic-burger
			width: 24px
			height: 24px
			background: transparent

		&:before
			content: '\e905'
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			margin: auto
			font-size: 24px
			line-height: 24px
			color: #fff
			font-family: icomoon

article
	padding: 0 0 100px

	ul
		padding-left: 20px
		margin-bottom: 16px

		li
			margin-bottom: 12px

	p
		margin-bottom: 12px


.fancybox-slide--html .fancybox-close-small
	padding: 6px
	opacity: 1

.modal
	padding: 56px 48px
	max-width: 410px
	width: 100%
	background: #2E2424
	border: 1px solid rgba(255, 255, 255, 0.2)
	box-shadow: 0px 16px 36px rgba(255, 255, 255, 0.08)
	border-radius: 6px
	text-align: center

	.h3
		margin-bottom: 12px

	p
		margin-bottom: 12px
		text-align: center

	.form-item
		margin-bottom: 12px

	.btn
		width: 100%

	&-product
		max-width: 730px

		&__wrap
			display: flex
			flex-wrap: wrap

		&__img
			width: 48%
			display: flex
			align-items: center
			justify-content: center


		&__info
			width: 52%
			padding-left: 24px
			text-align: left
			color: #fff


			.product-item

				&__name
					font-weight: 300
					font-size: 42px
					line-height: 50px

				&__bottom
					margin-bottom: 24px

				&__notavailable
					text-align: center

			p
				margin-bottom: 24px
				font-size: 18px
				line-height: 26px
				text-align: left

	&-small
		max-width: 290px
		padding: 0

		&__info
			padding: 30px
			border-bottom: 1px solid #333333

			img
				display: block
				margin: 0 auto 20px

			p
				font-size: 12px
				line-height: 16px
				color: #888888

		&__bottom
			padding: 30px 30px 40px

			p
				font-size: 12px
				line-height: 16px
				color: #D2D2D2

				a
					color: #D2D2D2
					text-decoration: underline

			.btn
				width: 100%
				padding: 8px 30px
				font-family: OpenSans
				font-weight: bold
				font-size: 12px
				line-height: 16px

		.h5
			font-family: OpenSans
			margin-bottom: 15px
			font-weight: bold
			font-size: 16px
			line-height: 22px
			color: #D2D2D2



	&-delivery
		padding: 45px 15px 45px
		background: url(../img/modal-bg.jpg) no-repeat
		background-size: cover
		img
			display: block
			margin: 0 auto 20px

		.h6
			margin-bottom: 5px
			font-size: 16px
			line-height: 19px
			color: #CCCCCC

		&__price
			margin-bottom: 20px
			font-size: 20px
			line-height: 24px
			font-weight: bold
			color: #fff

		p
			margin-bottom: 30px
			font-size: 12px
			line-height: 14px
			color: #808080

		.btn
			margin-bottom: 12px
			width: 100%
			padding: 8px 30px
			font-family: OpenSans
			font-weight: bold
			font-size: 12px
			line-height: 16px


			&-white__transparent
				font-weight: normal
				color: #888888
				border-color: #888888









.mm-spn.mm-spn--navbar ul:before
	border: 0


.mm-spn.mm-spn--light
	background: #291A18
	color: #fff

.mm-spn--open 
	>li
		&:before
			opacity: 1
			top: 33px

		>a
			padding-top: 24px
			padding-bottom: 24px
			font-weight: 600
			font-size: 18px
			line-height: 22px

			&.btn
				width: 100%
				padding: 16px 26px
				margin-bottom: 16px
				font-size: 18px
				line-height: 20px
				color: #fff
				font-weight: normal
				font-family: OpenSans
				text-align: center
				background: $main
				border-radius: 80px
				border: none
				outline: none

		>span
			padding-top: 24px
			padding-bottom: 24px
			font-weight: 600
			font-size: 18px
			line-height: 22px

		&.mobile-menu__li
			padding: 32px 16px 0

			&:before
				display: none

			&:after
				margin-left: auto

			&:last-of-type
				&:after
					display: none

			a
				&:after
					display: none

			.footer-info__tel 
				a, span
					padding: 0

			.footer-info__app
				padding-top: 32px
				border-bottom: 0
				border-top: 1px solid rgba(255,255,255,.2)

				a
					width: auto
					padding: 0



	.jq-selectbox
		.jq-selectbox__select-text
			padding: 13px 72px 13px 32px
			border: 1px solid rgba(255, 255, 255, 0.2)
			border-radius: 27px
			background-color: transparent

			&:after
				content: '\e901'
				right: 24px
				top: 15px

		&.opened .jq-selectbox__select-text
			&:after
				transform: rotate(90deg)

		.jq-selectbox__dropdown
			top: 3px !important

			ul
				width: 100%
				padding: 0
				left: 0

				li
					padding: 16px 50px
					&:before, &:after
						display: none
				&:after
					display: none

	&.mm-spn--parent

		.mm-spn.mm-spn--navbar ul
			z-index: 999






.contacts

	&-block
		display: flex
		flex-wrap: wrap
		padding-bottom: 48px

		&__item
			margin-right: 72px
			margin-bottom: 24px

			&:last-child
				margin-left: 0

			.h6
				margin: 0 0 8px
				font-size: 12px
				line-height: 16px
				color: #A99C9C

			span
				display: block
				color: #fff
				line-height: 24px
				font-family: Rubik

			a
				display: inline-block
				color: #fff
				line-height: 24px
				font-family: Rubik


.soc-btn
	list-style: none

	li
		display: inline-block
		margin-right: 12px
		vertical-align: middle

		&:last-child
			margin-right: 0

		a
			display: flex
			align-items: center
			justify-content: center
			width: 34px
			height: 34px
			background: #5A4747
			border-radius: 6px

			&:hover
				opacity: 1
				background: #E6A769


.establishments
	padding-bottom: 100px

	&-slider
		margin-left: -15px
		margin-right: -15px

	&-item
		margin: 0 15px

		&__img
			display: flex
			align-items: center

			a
				display: block

			img
				display: block
				border-radius: 3px

		&:hover
			.establishments
				&-item

					&__text
						background: #E6A769

						.h3
							color: #fff

		&__text
			padding: 24px
			transition: all .3s
			border-radius: 0px 0px 8px 8px
			background: #5A4747

			

			.h3
				margin: 0 0 4px
				font-size: 24px
				line-height: 28px
				letter-spacing: 0.01em
				text-transform: uppercase
				color: #E6A769
				transition: all .3s

			p
				color: #fff
				font-family: OpenSans
				line-height: 26px
				color: #FFF



.feedbacks
	margin-bottom: 100px

	&-item
		max-width: 950px
		margin-bottom: 32px

		&__text
			padding: 24px
			margin-bottom: 16px
			background: rgba(255, 255, 255, 0.05)
			border-radius: 6px
			
			p
				font-family: OpenSans
				font-size: 18px
				line-height: 26px
				color: #fff

				&+p
					margin-top: 12px

		&__info
			font-family: OpenSans
			font-size: 12px
			line-height: 16px
			color: #A99C9C
			text-align: right

			span
				position: relative

				&+span

					&:before
						content: ''
						display: inline-block
						margin: 0 8px
						width: 4px
						height: 4px
						display: inline-block
						vertical-align: middle
						background: #E6A769
						border-radius: 50%























@media only screen and (max-width: 1599px)
	.cart-block
		right: 0









@media only screen and (max-width: 1309px)
	
	.main-menu 
		li 
			a
				font-size: 18px

	.footer-links
		max-width: 650px

	.header-fixed
		.header-cart__info
			display: none






@media only screen and (max-width: 1199px)
		
	.header-top__left--item
		margin-left: 16px

	.logo
		margin-right: 16px
	.main-menu 
		li
			margin-right: 12px
			a
				font-size: 14px

	.header-fixed
		.header-cart
			margin-left: 16px

		.main-menu li a
			font-size: 14px
			line-height: 16px





@media only screen and (max-width: 991px)
	
	.header
		position: static
		background: #291A18

		&-top
			padding: 12px 0
			border-bottom: 1px solid rgba(255, 255, 255, 0.2)
			&__mobile
				display: flex
				align-items: center

		&-nav
			padding: 12px 0
			overflow: hidden
			overflow-x: scroll

	.logo
		display: inline-block
		width: 88px
		height: 24px
		background: url(../img/logo-mobile.png)

		img
			display: none

	.mobile-menu
		display: block

	.main-menu
		min-width: 850px

		flex-wrap: nowrap

		li
			margin-right: 16px
			a
				font-size: 16px
				line-height: 18px


	.seo 
		.row
			margin-bottom: 32px

		.h3, h3, h2, .h2
			text-align: center

		p
			margin-bottom: 16px
			text-align: center

	.tags-list
		margin: 32px auto 32px

	.drop-menu__mobile
		margin-top: 16px
		display: flex
		flex-wrap: wrap
		justify-content: center
		list-style: none

		li
			margin-right: 16px
			margin-bottom: 10px

			a
				font-size: 16px
				line-height: 18px
				text-transform: uppercase

	.tags-list li
		margin: 0 8px

	.product
		&-header
			font-size: 28px
			line-height: 32px
			font-family: OpenSans
			font-weight: 300


	.basket
		&-page
			
			.header-top
				display: block
				text-align: center
				border: 0
		
		&-step
			margin: 16px auto 0


	.section
		&-inner
			padding-top: 48px

		&-user
			.h1, h1
				display: none

	.sidebar
		display: none


	.content
		&-wrap
			display: block
		&-main
			padding: 24px 16px
			width: auto

			.h2
				margin-bottom: 24px


			




















@media only screen and (max-width: 768px)
	.product
		&-wrap
			display: block

		&-item
			flex-direction: row
			align-items: center

			&__img
				width: 100px
				height: 138px
				position: relative

				a
					position: absolute
					left: -80px
					top: 0
					display: block
					width: 190px
					height: 190px

				img
					object-fit: cover

			&__info
				width: calc(100% - 100px)
				padding-left: 16px

			&__text
				text-align: left

			&__name
				margin-bottom: 8px
				font-size: 16px
				line-height: 20px

			&__weight
				margin-bottom: 10px
				font-family: OpenSans
				font-size: 14px
				line-height: 16px

			&__bottom
				flex-direction: row
				align-items: center
				justify-content: space-between
				flex-wrap: wrap

				&--btn
					height: auto

					.btn-white__transparent
						padding: 12px 18px
						font-size: 12px
						line-height: 14px

			&__price
				margin: 0
				font-size: 22px
				line-height: 24px

		&-radio
			width: 100%
			text-align: left

			.switch
				margin-bottom: 12px



	

	.product-wrap
		overflow: hidden

		[class^=col]
			position: relative
			margin-bottom: 48px

			&:after
				content: ''
				position: absolute
				bottom: -36px
				height: 1px
				left: -15px
				right: -15px
				border-bottom: 1px solid rgba(255, 255, 255, 0.2)


	.footer
		&-top
			display: block
			padding-bottom: 0

		&-info
			max-width: none

			&__app
				padding-bottom: 24px
				border-bottom: 1px solid rgba(255, 255, 255, 0.2)
				&--btn
					flex-wrap: nowrap

		&-links
			display: block
			max-width: none

			&__item

				.h5
					position: relative
					padding: 24px 0
					margin: 0
					border-bottom: 1px solid rgba(255, 255, 255, 0.2)

					&:after
						content: '\e900'
						position: absolute
						right: 0
						top: 25px
						font-size: 14px
						font-weight: normal
						color: #fff
						font-family: icomoon

					&.active
						&:after
							content: '\e902'

				ul
					display: none
					padding-top: 16px

					li
						font-size: 16px
						line-height: 22px


		&-bottom
			border: 0
			padding-bottom: 12px

			&__wrap
				display: block
				text-align: center

		&-copyright
			margin-bottom: 22px

		&-privacy
			margin-bottom: 22px

	.basket
		&-page

			.header-top
				padding-bottom: 16px
		&-step
			width: auto
			margin-left: -5px
			margin-right: -5px

			&:before
				display: none

			&__item
				padding-left: 0
				font-size: 11px
				
				&:before
					content: '\e901'
					position: absolute
					right: -4px
					top: 7px
					font-family: icomoon
					font-size: 10px
					color: rgba(255, 255, 255, 0.2)
					

				&:last-child
					margin-bottom: 0

					&:before
						display: none

				span
					width: 22px
					height: 22px
					font-size: 12px

		&-table
			display: block

			&__row
				position: relative
				display: flex
				flex-wrap: wrap
				align-items: center
				margin-bottom: 16px
				border-bottom: 1px solid rgba(255, 255, 255, 0.2)


			&__col
				position: static
				padding: 16px 10px 0
				text-align: left
				width: 33%

				&:not(:first-child)
					padding: 16px 10px 0

				&:before
					display: none

				&:first-child
					padding-top: 0
					width: 100%

				&:nth-child(2)
					text-align: left

				&--price
					text-align: right

				
			&__del
				position: absolute
				right: 0
				top: 0

			&__info
				&--text
					.h5
						padding-right: 16px


	.order-item .h2
		margin: 0 0 24px
		font-size: 28px
		line-height: 32px

	.h1, h1
		margin: 0 0 32px
		font-size: 36px
		line-height: 40px

	.h2, h2
		font-size: 28px
		line-height: 32px

	.btn
		padding: 16px 22px
		font-size: 14px
		line-height: 16px

	.tabs-nav li a
		text-align: center

		&:focus
			opacity: 1

	.give-cash
		display: block

		&__text
			width: auto
			margin-bottom: 10px
	

	.succses
		&-top
			margin-bottom: 0

			&__img
				display: none


			&__text
				width: 100%
				padding-left: 0

				.h1
					margin-bottom: 16px


	.order-table
		thead tr td
			font-size: 12px

		tbody tr td
			padding: 10px 5px
			font-size: 12px
			line-height: 14px
			&:first-child
				img
					display: none

				span
					width: auto

		&__wrap
			.h3
				margin-bottom: 16px

	.bonus

		&-table
			min-width: 500px

			&__wrap
				overflow-x: scroll

		&-btn

			.btn
				margin-bottom: 10px
				width: 100%

	.address-table__item
		padding: 24px 0

		&--info
			padding-left: 24px

			.icon
				font-size: 24px
		&--text
			strong
				font-size: 16px
	
	.section
		&-inner
			padding-top: 32px

	
	.modal-product
		

		&__wrap
			display: block

		&__img
			width: auto
			margin-bottom: 12px

		&__info
			padding: 0
			width: auto
			text-align: center

			.product-item__name
				font-size: 24px
				line-height: 34px

			p
				font-size: 16px
				line-height: 22px


	.modal
		width: 90%
		padding: 48px 24px 32px















@media only screen and (max-width: 413px)


	.basket
		&-bottom

			&__price
				text-align: center

			&__btn
				display: block

				.btn
					display: block
					margin-bottom: 10px

	.order-table
		margin-bottom: 32px

		&__wrap
			padding-bottom: 54px

		&__btn

			.btn-white__transparent
				margin-bottom: 10px
				font-size: 14px

			.btn
				width: 100%


	.color-list__item
		margin-bottom: 12px

	.form-address__btn
		display: block

		.btn
			width: 100%
			margin-bottom: 12px